.component-content {
    width: 100vw;
    height: 300px;
    overflow: hidden;
    min-width: 320px;
    position: relative;
    @include bp($tablet, min) {
      height: 450px;
    }
    @include bp($desktopSmall, min) {
      height: 500px;
    }
    @include bp($desktopFullHd, min) {
      height: 600px;
    }
    &__background {
      position: relative;
      left: -150px;
      min-height: 300px;
      width: calc(100vw + 245px);
      @include bp($tablet, min) {
        left: 0;
        width: calc(100vw + 85px);
      }
      @include bp($desktopSmall, min) {
        width: calc(100vw);
      }
      @include bp($desktopHd, min) {
        top: -135px;
        width: calc(100vw);
      }
      @include bp($desktopFullHd, min) {
        top: -175px;
        width: calc(100vw);
      }
    }
    &__some-content-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: -moz-linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
    }
    &__transparent-title-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 75vw;
      height: 100%;
    }
    &__transparent-title {
      position: relative;
      margin: 0;
      width: 100%;
      padding: 90px 0 0 20px;
      max-width: 205px;
      background: url("~assets/img/block-bg.png");
      background-size: calc(100vw + 245px) auto;
      background-position: -150px 0;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: sans-serif;
      font-weight: 800;
      font-size: 34px;
      text-align: left;
      @include bp($tablet, min) {
        padding: 150px 0 0 40px;
        max-width: 440px;
        background-size: calc(100vw + 85px) auto;
        background-position: 0 0;
        font-size: 48px;
      }
      @include bp($desktopSmall, min) {
        padding: 180px 0 0 80px;
        max-width: 540px;
        background-size: calc(100vw) auto;
        font-size: 56px;
      }
      @include bp($desktopHd, min) {
        background-position: 0 -135px;
      }
      @include bp($desktopFullHd, min) {
        padding: 260px 0 0 100px;
        max-width: 810px;
        background-size: calc(100vw) auto;
        background-position: 0 -175px;
        font-size: 60px;
      }
    }
  }
  